/* === general === */

body, p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1C1C1C;
  line-height: 1.35em;
  font-size: 13px;
  color: #FFF;
  > header {
    @include container;
    //@include susy-grid-background;
  }
  > footer {
    @include container;
    @include span-columns(2 omega);
  }
}


/* === body header === */

hgroup.intro {
  @include span-columns(2);
  margin-top: 20px;
  margin-bottom: 10px;
  color: #454545;
  position: relative;

  #subtitle {
    color: #454545;
    font-size: 13px;
    line-height: 10px;
    position: absolute;
    width: 90%;
  }
}

nav.primary {
  @include horizontal-list();
  @include span-columns(3);
  font-weight: bold;
}


/* === main content === */

#container {
  @include container;
  //@include susy-grid-background;
}

#sidedump {
  @include span-columns(2);
  color: #454545;
  font-size: 13px;
  line-height: 10px;
  margin-top: -10px;
}

#content {
  @include span-columns(8);

  >article {
    background-color: #454545;
    border-left: 4px solid #ECBE00;
    padding: 20px;
    ul li {
      list-style: none;
    }
    p {
      margin-bottom: 5px;
    }
  }
}

#sidebar {
  @include span-columns(2 omega);
}


/* ===== root index specific ===== */
#content.home {
  position: relative;
  margin-top: 100px;
  height: 555px;
  overflow: hidden;
}

.page-preview {
  @include border-radius(21px, 19px);
  margin: 1px;
  padding: 20px 13px;
  position: absolute;
  top: 555px;
  height: 485px;
}

.page-preview--current {
  top: 15px;
}

#blog {
  @include background-image(linear-gradient(top left, #454545, rgba(69, 69, 69, 0.5)));
  border-left: 4px solid #ECBE00;
  border-top: 1px solid lighten(#ECBE00, 20%);
  #{headings()} {
    color: #ECBE00;
  }
}

#articles {
  // TODO: use the following for real articles
  //font-family: "Open Sans" ,sans-serif;
  //font-size: 16px;
  //line-height: 22px;
  @include background-image(linear-gradient(top left, #fff, rgba(255, 255, 255, 0.5)));
  color: #002B36;
  border-left: 4px solid #67000E;
  border-top: 1px solid lighten(#67000E, 20%);
  #{headings()} {
    color: #67000E;
  }
  a {
    color: #184BB4;
    &:hover { color: #000; }
  }
}

#photos {
  // highlight photo in white border
  @include background-image(linear-gradient(top left, #131313, rgba(0, 0, 0, 0.5)));
  border-left: 4px solid #f1f1f1;
  border-top: 1px solid lighten(#f1f1f1, 20%);
  #{headings()} {
    color: #fff;
  }
  a {
    color: #ada392;
    &:hover { color: #797772; }
  }
}

#sounds {
  @include background-image(linear-gradient(top left, #E8556A, rgba(232, 85, 106, 0.5)));
  border-left: 4px solid #90C9B6;
  border-top: 1px solid lighten(#90C9B6, 20%);
  #{headings()} {
    color: #90C9B6;
  }
  a {
    color: #3da1d1;
    &:hover { color: #fff; }
  }
}

#hikes {
  @include background-image(linear-gradient(top left, #F6E8CE, rgba(246, 232, 206, 0.5)));
  color: #022523;
  border-left: 4px solid #0066A4;
  border-top: 1px solid lighten(#0066A4, 20%);
  #{headings()} {
    color: #0066A4;
  }
  a {
    color: #008A5F;
    &:hover { color: #4AB827; }
  }
}

#sidebar.home {
  position: relative;
  > nav {
    position: absolute;
    z-index: 10;
    left: 45%;
    top: 20em;

    a {
      display: block;
      position: relative;
      color: transparent;
      height: 35px;
      &:after {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 3px solid #fff;
      }
      &:hover:after {
        background: rgba(255,255,255,0.6);
      }
      &.current:after {
        background: #fff;
      }
    }
  }
}

#city-footer {
  width: 100%;
  height: 400px;
  position: fixed;
  bottom: 0px;
  z-index: -10;
  clear: both;
  >img {position:absolute;}
}


/* ===== links ===== */

a {
  color: #f2ae00;
  text-decoration: none;
  &:hover {
    color: #FFF;
  }
  &:active {
    outline: none;
  }
  &.btn {
    color: #111;
    background: #ECBE00;
    padding: 7px 10px 5px 10px;
    //display: inline-block;
    margin-top: 20px;
    &:hover {
      color: #ECBE00;
      background: #FFF;
    }
  }
  &.grey {
    float: right;
    //display: block;
    color: #FFF;
    background: #333;
    &:hover {
      color: #333;
      background: #FFF;
      padding: 7px 10px 5px 10px;
      //display: inline-block;
      margin-top: 20px;
    }
  }
}


/* === headings === */

#{headings()} {
  font-family: 'Roboto Condensed', sans-serif;
}

#{headings(1,2)} {
  margin-bottom: 10px;
}

#{headings(3,6)} {
  margin-bottom: 12px;
}

h1 {
  font-size: 36px;
  line-height: 26px;
}

h2 {
  font-size: 32px;
  line-height: 23px;
}

h3 {
  font-size: 30px;
  line-height: 20px;
}

h4 {
  font-size: 28px;
  line-height: 18px;
}

h5 {
  font-size: 22px;
  line-height: 16px;
}

h6 {
  font-size: 18px;
  line-height: 15px;
}
