%footer
	%p
		Powered by
		= succeed ', a Ruby CMS' do
			%a{href: "http://nestacms.com"} Nesta

- if root_index?
	- dropbox_image_urls_for('assets/city').each do |url|
		.city-footer{data: {img_url: url}}
