%section.links
  %a.btn.grey{href:"https://soundcloud.com/philmill"} SoundCloud
  %a.btn.grey{href:"https://coderwall.com/philmill"} CoderWall
  %a.btn.grey{href:"http://www.linkedin.com/pub/phillip-miller/86/7ab/a27/"} LinkedIn
  %a.btn.grey{href:"https://github.com/philmill"} Github

%section.intro
  %heading
    %h3
      %a(href="/")philmill
      is Phillip R Miller II
    %h6 Music Words Experiments Photos Code
