%section.intro
  %heading
    %h3 PHILMILL is PHILLIP R MILLER II
  :markdown
    A simple Ruby based site dedicated to the explorations and work of philmill.

%section.articles= article_summaries(latest_articles)