Title: philmill.net
Template: home
Link text: Home
Keywords: music, blog, photos, philmill
Description: the blog and experimental website for the workings of philmill

%section.articles= article_summaries(latest_articles)

