Template: home
Title: the original phil mill | sounds words photos experiences and more
Subtitle: the home of Phillip R. Miller II on the interwebs
Keywords: music, blog, photos, philmill
Description: the blog and experimental website for the workings of philmill

%section#blog.page-preview.page-preview--current
  %h5 Blog
  %p
    Please be patient while this site forms into a real one. I know its been a work in progress from some time now, but its getting there.
    %a(href="http://philmill.net")philmill.net
  = article_summaries(latest_articles)

%section#articles.page-preview
  %h5 Articles
  %p
    A collection of essays and tutorials intended to be read by a general audience who may stumble across this site unintentionally and find a good read.
    %a(href="http://philmill.net")philmill.net

%section#photos.page-preview
  %h5 Photos
  %p
    This is where you can find my various slideshows from places I've visited or random pics that I deem artful. These pictures are backed by Dropbox.
    %a(href="http://philmill.net")philmill.net
  = dropbox_img 'assets/machu-flower.jpg', '.drop-test'


%section#sounds.page-preview
  %h5 Sounds
  %p
    Soundcloud is awesome and this is a link an old track I produced with some of my old Baton Rouge neighbors. This will probably look better at some point as I intend on writing my own widget.
    %a(href="http://philmill.net")philmill.net
  %iframe(width="80%" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/2262323&amp;auto_play=false&amp;hide_related=false&amp;visual=true")

%section#hikes.page-preview
  %h5 Hikes
  %p
    In March of 2004, I started a seven month hike along the Appalachian Trail and finished a wonderful thru-hike in Maine. This year marks my ten year anniversary!
    %a(href="http://philmill.net")philmill.net

