%section.intro
  %heading
    %h3 WHY NESTA IS GOOD
  :markdown
    A Ruby CMS for *developers* and *designers*.
    With simple code that's easy to follow, Nesta is easily
    extended using the Sinatra web framework.

%section.articles= article_summaries(latest_articles)